@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
header{
    z-index: 100;
}
.tab-pane h4{
    padding: 2vh 5vh;
    background-image: url(../img/bgcard.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card-subtitle{
    display: none;
}
.table{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10vh;
}
.table__jerseys img{  
  width: 12vh;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.table__price p {
    margin: 0;
    font-weight: 600;
}
.table__quantity input{
    width: 10vh;
    border: 1px solid gray;
    border-radius: 3px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
}
.table__quantity button{
    padding: 2px 10px;
    margin-bottom: 5px;
    font-weight: 100;
}
.table__quantity button i{
    font-weight: bolder !important;
}
.table__total{
    background-color: black;
    padding: 0;
}
.table__total div{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}
.table__total h3{
    font-size: large;
    width: auto;
    margin: 0;
    margin: auto 0;
}
.table__total div button{
    padding: 1px 13px;
    margin: 1vh 20vh 1vh 1vh;
    background-color: #01ff86;
    border: 1px solid black;
    color: black;
    font-weight: 600;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: rgb(255, 255, 255);
    background-color: #6b0d76;
}
.nav-link {
    color: rgb(0, 0, 0);
}
.nav-link:hover {
    color: rgb(0, 0, 0);
}
.button{
    margin-top: 0.5rem;
}
.button:hover{
    background-color: rgb(23, 23, 23);
}
.premierLeagueThead tr th{
    color: gray;
    font-weight: 100;
    font-size: small;
    text-align: center;
}
.premierLeagueTable tr img{
    width: 1.5rem;
}
.premierPosition{
    text-align: center;
    font-size: small;
}
.premierClub span{
    margin-left: 1rem;
}
.premierStats{
    font-size: smaller;
    text-align: center;
}
.premierStats--modifier{
    font-size: small;
    font-weight: 600;
    text-align: center;
}
.card-text{
    margin: 0;
    font-size: smaller;
}
.card__champion{
    width: 100%;
}
.nav__clubs{
    padding: 0;
    margin: 0.5em;
}
.nav__clubs img{
    transition: all 0.5s ease;
}
.nav__clubs img:hover{
    transform: scale(1.4);
    transition: all 0.5s ease;
}
.awardCard{
    border-radius: 0;
}
.awardCard img{
    border-radius: 0;
}
.premierTextCard p{
    margin-left: 25vw;
    font-weight: 600;
}
.premierTextCard h5{
    margin-left: 40%;
    margin-bottom: 2vw;
}
.premierTextCard, p h5{
    color: #3b0541;
}
#timer{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
.newsPremierLeague a{
    text-decoration: none;
}
.newsPremierLeague:hover{
    cursor: pointer;
}
.repositorio{
    text-decoration: none;
    color: white;
}
.repositorio:hover{
    color: yellow;
    text-decoration: none;
}